.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.signupForm {
  margin-right: 5%;
}

.signupFormLabels{
  margin-bottom: 10px;
}

.signupFormLabels label {
  margin-right: 10px;
}

.signupFormLabels input {
  padding: 5px 30px 5px 3px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}